body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    overflow: hidden;
    position: relative;
}

.name {
    position: absolute;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1.75em;
    top: 60px;
    margin: 0;
}

.calculator {
    color: white;
    margin: auto;
    background-color: black;
    width: 320px;
    height: 460px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: end;
}

.keyboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 11px;
    row-gap: 11px;
    padding: 10px;
    touch-action: manipulation;
}

.text {
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    font-size: 3.5em;
    font-family: Arial, sans-serif;
    padding: 0 10px;
    margin: 0 10px;
    overflow-x: auto;
    overflow-scrolling: auto;
    border: 1px solid white;
    height: 70px;
    touch-action: manipulation;
    border-radius: 20px;
}


.num button, .op button, .ac button, .comma button, .percent button {
    font-size: 2em;
    background-color: #3a3a3a;
    color: white;
    border: none;
    height: 65px;
    width: 66.477px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
}

.op3, .op4 {
    padding-bottom: 6px;
}

button:hover {
    opacity: 0.8;
}

.ac button:hover {
    background: #797979;
}

.ac button, .percent button {
    background: gray;
}

.op button {
    background: orange;
}

.num0 {
    position: absolute;
}

.off1 {
    height: 65px;
    background: gray;
    touch-action: manipulation;
    border-radius: 20px;
}

.off2 {
    height: 65px;
    touch-action: manipulation;
    background: #3a3a3a;
    border-radius: 20px;
}

button:active {
    opacity: 0.8;
    transition: 0.5s;
}

.copy {
    position: absolute;
    bottom: 10px;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 0.7em;
}

@media (max-width: 450px) {
    button:hover {
        opacity: 1;
    }
}