body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: end;
    background: black;
}

.calculator {
    margin: auto;
    background-color: black;
    width: 320px;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: end;
}

.keyboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 11px;
    row-gap: 11px;
    padding: 10px;
    touch-action: manipulation;
}

.text {
    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    font-size: 3.5em;
    font-family: Arial, sans-serif;
    padding: 0 10px;
    margin: 0 10px;
    overflow-x: hidden;
    border: 1px solid white;
    height: 70px;
}


.num button, .op button, .ac button, .comma button{

    font-size: 2em;
    background-color: #3a3a3a;
    color: white;
    border: none;
    height: 65px;
    width: 66.477px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.ac button:hover {
    background: #797979;
}

.ac button {
    background: gray;
}

.op button {
    background: orange;
}

.num0 {
    position: absolute;
}

.off1 {
    height: 65px;
    background: gray;
}

.off2 {
    height: 65px;

    background: #3a3a3a;
}

@media (max-width: 450px) {
    body {
        align-items: start;
    }
}